body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('/public/inteltion-bg.png'); /* Set the path to your image in the public folder */
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 95%;
  text-align: center;
  
}

.logo{
  height: 5%;
  /* padding-left: 0; */
  padding-top: 1%;
  max-width: 10%;
  object-position: left top;
}
.logo-container {
  display: flex;
  padding-bottom: 3%;
}
